.board {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: repeat(9, 1fr);

  width: calc(100vmin - 2rem);
  max-width: 30rem;
  height: calc(100vmin - 2rem);
  max-height: 30rem;

  box-shadow: 3px 3px 6px 1px rgba(13, 15, 12, 0.12);
}
