.board input[type='number'] {
  --background: #fff;
  --background-alt: hsl(105, 20%, 96%);
  --background-highlight: hsl(205, 52%, 91%);
  --background-highlight-main: hsl(60, 91%, 71%);
  --background-error: #ff3838;
  --background-autocomplete: #52e68a;

  width: 100%;
  height: 100%;
  border: var(--border-width) solid black;
  display: grid;
  place-content: center;
  text-align: center;
  font-size: clamp(1rem, 100vmin * 0.06, 2rem);
  font-family: monospace;
  color: #272727;
  font-weight: 400;
  background-color: var(--background);
  transition: background-color 25ms;
  outline: none;
  cursor: pointer;

  &:read-only {
    color: black;
    font-weight: 600;
    cursor: default;
  }

  &.alt-background {
    background-color: var(--background-alt);
  }

  &.highlight {
    background-color: var(--background-highlight);
    transition: background-color 65ms;

    &--main {
      background-color: var(--background-highlight-main);
    }
  }

  &.error {
    background-color: var(--background-error) !important;
  }

  &.autocompleted {
    animation: autocomplete 400ms;
  }

  @keyframes autocomplete {
    0% {
      background-color: var(--background);
    }

    15% {
      background-color: var(--background-autocomplete);
      transform: scale(1.1);
    }

    100% {
      background-color: var(--background);
      transform: scale(1);
    }
  }
}
