.board input[type='number'] {
  --background: #fff;
  --background-alt: hsl(105, 20%, 96%);
  --background-highlight: hsl(205, 52%, 91%);
  --background-highlight-main: hsl(60, 91%, 71%);
  --background-error: #ff3838;
  --background-autocomplete: #52e68a;

  --text-color: #141414;
  --text-color-user: #0000d5;

  --border-width: 1px;
  --border-width-thick: 3px;
  --border-color: #7a7a7a;
  --border-color-thick: #4d4d4d;

  width: 100%;
  height: 100%;
  border: var(--border-width) solid var(--border-color);

  display: grid;
  place-content: center;

  text-align: center;
  font-size: clamp(1rem, 100vmin * 0.07, 2.25rem);
  font-family: monospace;
  color: var(--text-color-user);
  font-weight: 600;

  background-color: var(--background);
  transition: background-color 25ms;
  outline: none;
  cursor: pointer;

  &:read-only {
    color: var(--text-color);
    cursor: default;
  }

  &.alt-background {
    background-color: var(--background-alt);
  }

  &.highlight {
    background-color: var(--background-highlight);
    transition: background-color 65ms;

    &--main {
      background-color: var(--background-highlight-main);
    }
  }

  &.error {
    background-color: var(--background-error) !important;
  }

  &.autocompleted {
    animation: autocomplete 400ms;
  }

  @keyframes autocomplete {
    0% {
      background-color: var(--background);
    }

    15% {
      background-color: var(--background-autocomplete);
      transform: scale(1.1);
    }

    100% {
      background-color: var(--background);
      transform: scale(1);
    }
  }
}
