#numericTooltip {
  --background: #a5dff6;
  --background-dark: #75bcd8;

  position: fixed;
  display: grid;
  grid-template-columns: repeat(3, 30px);
  grid-template-rows: repeat(3, 30px);
  box-shadow: 2px 2px 4px rgba(20, 20, 20, 0.2);

  button {
    border: var(--border-width) solid black;
    font-size: 20px;
    background-color: var(--background);

    &:hover {
      background-color: var(--background-dark);
    }
  }

  &::after {
    content: '';
    z-index: -1;
    position: absolute;
    background-color: var(--background);
    width: 20px;
    height: 20px;
    top: calc(100% - 11px);
    left: 50%;
    transform: translateX(-50%) rotateZ(45deg);
    box-shadow: 2px 2px 4px rgba(20, 20, 20, 0.2);
    border: var(--border-width) solid black;
  }
}
