.pencil-checkbox {
  display: inline-block;

  label {
    .icon-tabler-writing {
      display: none;
    }
  }

  input:checked + label {
    background-color: rgb(146, 209, 245);

    .icon-tabler-writing {
      display: block;
    }

    .icon-tabler-pencil {
      display: none;
    }

    &:hover {
      background-color: rgb(173, 228, 241);
    }
  }

  input {
    display: none;
  }
}
