@import './reset';
@import './css-variables';
@import './atomic/';
@import './components/';

html {
  height: 100%;
}

body {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
